APP_NAME=sentry-workflow
ENVIRONMENT=development

MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=sentry_workflow

REDIS_URL=redis://localhost:6379

SENTRY_BASE_URL=https://sentry.io

SENTRY_CLIENT_SECRET=
SENTRY_DSN=
SENTRY_ORG_SLUG=

SENTRY_AUTH_TOKEN=
SENTRY_WEBHOOK_SECRET=

SLACK_BOT_TOKEN=
SLACK_CHANNEL_ID=

SENTRY_HOOK_ID=

SENTRY_WEBHOOK_URL=